<mat-toolbar class="footer">
  <nav>
    <button mat-button routerLink="/registration" routerLinkActive="mat-accent" >
      <span>
        <mat-icon fontIcon="person_edit"></mat-icon>
      </span>
    </button>
    <button mat-button routerLink="/information" routerLinkActive="mat-accent">
      <span>
        <mat-icon  fontIcon="info"></mat-icon>
      </span>
    </button>
    <button mat-button routerLink="/voting" routerLinkActive="mat-accent">
      <span>
        <mat-icon fontIcon="how_to_vote"></mat-icon>
      </span>
    </button>
  </nav>
</mat-toolbar>
