.footer {
  height: 64px;
}

// TODO: Temporary until I figure out how to get the nav-button in Angular Material
button {
  max-width: 200px;
  white-space: pre-wrap;
}

mat-icon {
  margin: 12px 0 0 0;
}
