:root, :host {
  --sys-background: #fef9eb;
  --sys-on-background: #1d1c14;
  --sys-surface: #fef9eb;
  --sys-surface-dim: #dedacd;
  --sys-surface-bright: #fef9eb;
  --sys-surface-container-lowest: #ffffff;
  --sys-surface-container-low: #f8f3e6;
  --sys-surface-container: #f2eee0;
  --sys-surface-container-high: #ede8da;
  --sys-surface-container-highest: #e7e2d5;
  --sys-on-surface: #1d1c14;
  --sys-surface-variant: #dce5dd;
  --sys-on-surface-variant: #404943;
  --sys-inverse-surface: #323128;
  --sys-inverse-on-surface: #f5f0e3;
  --sys-outline: #707973;
  --sys-outline-variant: #bfc9c1;
  --sys-shadow: #000000;
  --sys-scrim: #000000;
  --sys-surface-tint: #1f6a4e;
  --sys-primary: #1f6a4e;
  --sys-on-primary: #ffffff;
  --sys-primary-container: #a8f2ce;
  --sys-on-primary-container: #002115;
  --sys-inverse-primary: #8dd5b3;
  --sys-secondary: #2c6a46;
  --sys-on-secondary: #ffffff;
  --sys-secondary-container: #aff1c3;
  --sys-on-secondary-container: #00210f;
  --sys-tertiary: #136682;
  --sys-on-tertiary: #ffffff;
  --sys-tertiary-container: #bee9ff;
  --sys-on-tertiary-container: #001f2a;
  --sys-error: #904a43;
  --sys-on-error: #ffffff;
  --sys-error-container: #ffdad6;
  --sys-on-error-container: #3b0907;
  --sys-neutral: #7a776c;
  --sys-neutral-variant: #707973;
  --sys-primary-fixed: #a8f2ce;
  --sys-primary-fixed-dim: #8dd5b3;
  --sys-on-primary-fixed: #002115;
  --sys-on-primary-fixed-variant: #005139;
  --sys-secondary-fixed: #aff1c3;
  --sys-secondary-fixed-dim: #94d5a8;
  --sys-on-secondary-fixed: #00210f;
  --sys-on-secondary-fixed-variant: #0d5130;
  --sys-tertiary-fixed: #bee9ff;
  --sys-tertiary-fixed-dim: #8bd0f0;
  --sys-on-tertiary-fixed: #001f2a;
  --sys-on-tertiary-fixed-variant: #004d65;
  --sys-inverse-secondary: #94d5a8;
  --sys-inverse-tertiary: #8bd0f0;
  --sys-inverse-error: #ffb4ab;
  --sys-error-fixed: #ffdad6;
  --sys-error-fixed-dim: #ffb4ab;
  --sys-on-error-fixed: #3b0907;
  --sys-on-error-fixed-variant: #73332d;
  --sys-custom-button-color: #E56400;
}
