@mixin fixed-position($z-index: 1000) {
  position: fixed;
  width: 100%;
  left: 0;
  z-index: $z-index;
}

@mixin flex-container($direction: row, $justify: flex-start, $align: center, $wrap: nowrap) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  flex-wrap: $wrap;
}

@mixin fill-container {
  width: calc(100vw - 32px);
  // 49px is the height of the tabs
  height: calc(100vh - 49px - var(--mat-toolbar-standard-height));
  margin: 0 16px;

  // Handle mobile height of the toolbar
  @media (max-width: 599px) {
   height: calc(100vh - 49px - var(--mat-toolbar-mobile-height));
  }
}

@mixin flex-item($grow: 0, $shrink: 1, $basis: auto) {
  flex: $grow $shrink $basis;
}

// Reusable classes for common layouts
// Containers that should be used as a wrapper for the entire page
.flex-start-container {
  @include flex-container(column, flex-start);
  @include fill-container;
}

.flex-center-container {
  @include flex-container(column, center);
  @include fill-container;
}

// Flexbox classes to align items
.flex-column-align-left {
  @include flex-container(column, flex-start, flex-start);
}


.flex-column-center {
  @include flex-container(column, center, center);
}

.flex-row-space-evenly {
  @include flex-container(row, space-evenly, center);
}

// Images
.large-image {
  width: 100%;
  max-width: 250px;
}

.medium-image {
  width: 100%;
  max-width: 150px;
  margin-bottom: 16px;
}
